{% extends "base.html" %}
{% load static %}

{% block title %}
    Item Detail
{% endblock %}

{% block content %}
<h1>{{ category.category_name }}</h1>
<ul>
    {% for image in item_images %}
        <li><img src="{{ image.sub_image.url }}" alt="{{ item_name }}"></li>
    {% endfor %}
    {% comment %} {% for info in details %} {% endcomment %}
        <li>{{ details.item_name }} - {{ details.price }} - {{ details.mojoudi }}</li>
    {% comment %} {% endfor %} {% endcomment %}
</ul>
{% endblock %}